<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" [ngClass]="{'active': classApplied}">
        <div class="sidebar-header">

            <!-- Closed -->
            <h3 class="animate__animated animate__fadeInLeft animate__faster" [ngClass]="{'active': classApplied}" (click)="toggleit()">
                <i class="bi bi-x left movex"></i>
            </h3>

            <!-- Opened -->
            <strong [ngClass]="{'active': classApplied}" (click)="toggleit()"> <i class="bi bi-list"></i>
             </strong>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="#" class="dropdown-toggle">
                    <strong><span class="material-icons">home</span></strong>
                    <span *ngIf="!classApplied" class="menu-icon animate__animated animate__fadeIn animate__faster">Dashboard</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <span class="material-icons">bed</span>
                    <span *ngIf="!classApplied" class="menu-icon animate__animated animate__fadeIn animate__faster">Rooms</span>
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <span class="material-icons">group</span>
                    <span *ngIf="!classApplied" class="menu-icon animate__animated animate__fadeIn animate__faster">clientes</span>
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="material-icons">show_chart</span>
                    <span *ngIf="!classApplied" class="menu-icon animate__animated animate__fadeIn animate__faster">Statistics</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-icons">cleaning_services</span>
                    <span *ngIf="!classApplied" class="menu-icon animate__animated animate__fadeIn animate__faster">Cleaning</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-icons">settings</span>
                    <span *ngIf="!classApplied" class="menu-icon animate__animated animate__fadeIn  animate__faster">Config</span>
                </a>
            </li>
        </ul>


    </nav>

    <!-- Page Content  -->
    <div id="content">

        <i class="fas fa-align-left"></i>

    </div>
</div>